@media (min-width: 1220px) {
  body .uk-container {
    max-width: 800px !important;
    width:800px;
  }
  .tm-footer{
    background:#252525;
    padding:5em 0;
    color:#d3d3d3;
  }
  .tm-footer ul li a{
    color:#d3d3d3;
  }
  .tm-footer ul li a:hover{
    color:#165183;
  }
}
